.navbar {
  width: 95.5%;
  height: 65px;
  background: #111827; /* navy/black */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius:5px;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.2s ease;
}

.navLinks li a:hover {
  color: #60a5fa; /* light blue */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.bar, .barOpen {
  width: 24px;
  height: 3px;
  background: white;
  transition: 0.3s ease;
}

/* For Mobile */
@media (max-width: 768px) {
  .navLinks {
    position: absolute;
    top: 65px;
    right: -100%;
    width: 180px;
    height: calc(100vh - 65px);
    background: #1f2937;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1.2rem;
  }

  .open {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}
